<br>
<div class="row">
  <div class="col-md-11 ml-auto mr-auto">

    <app-notification [alerts]="alerts"></app-notification>

  </div>
</div>



<!--<ngbd-alert-basic [(staticAlertClosed)]="true"></ngbd-alert-basic>-->
<div class="container-fluid">

  <div class="row">

    <div class="col-md-10 ml-auto mr-auto">
      <h2 class="title">
        <small>User Dashboard</small>
      </h2>

      <div class="row">
        <div class="col-md-6">
          <form class="form-inline ml-auto">
            <!--        <input class="form-control mr-sm-2 no-border" type="text" placeholder="Search">-->
            <input class="form-control mr-sm-2 no-border" type="text" [(ngModel)]="title" name="tit" placeholder="Find your coupons here!"/>
            <button type="submit" class="btn btn-primary btn-just-icon btn-round"><i class="nc-icon nc-zoom-split" aria-hidden="true"></i></button>
          </form>

        </div>
        <div class="col-md-6 text-right">

        </div>
      </div>
      <br/>

      <div class="table-responsive my_scroll_div">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr >
            <th class="text-left">No.</th>
            <th class="text-center" >Title</th>
            <th class="text-center">Discount</th>
            <th class="text-center" >Hotelier Name</th>
            <th class="text-center" >Country</th>
            <th class="text-center">Expiration date</th>
            <th class="text-center">Description</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let coupon of all_coupons | customerEmailFilter:title;let i = index">
            <td class="text-left" >{{i+1}}</td>
            <td class="text-center"  >{{coupon.title}}</td>
            <td class="text-center" >{{coupon.discount}}</td>
            <td class="text-center"  >{{coupon.hotelier_profile.name}}</td>
            <td class="text-center"  >{{coupon.hotelier_profile.country}}</td>
            <td class="text-center" >{{getDate(coupon.expiration_date)}}</td>
            <td class="text-center"  >{{coupon.description}}</td>

            <td class="td-actions text-right">
              <a href=""  class="btn btn-danger btn-link btn-sm"  ngbTooltip="Get QR code">
                <i class="fa fa-qrcode"></i>
              </a>
              <app-coupon-detail-modal (click)="send_view_coupon_interaction_user(coupon)" [is_hotelier]="false" [couponTarget]="coupon" ></app-coupon-detail-modal>
              <button (click)="redeemCoupon(coupon.id)"  type="button" ngbTooltip="Redeem Coupon" class="btn btn-success btn-link btn-sm">
                <i class="fa fa-bookmark"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <h2 class="title">
        <small>Your coupons</small>
      </h2>

      <br>
      <div class="row">
        <div *ngFor="let coupon of my_coupons" class="col-md-3 ml-auto mr-auto">
          <div class="card card-pricing" data-color="orange">
            <div class="card-body">
              <h6 class="card-category">{{coupon.coupon_id.hotelier_profile.name}}</h6>
              <h7 class="card-category">{{coupon.coupon_id.title}}</h7>
              <div class="card-icon">
                <i class="fa fa-bed"></i>
              </div>
              <h3 class="card-title">{{ coupon.coupon_id.discount }}% off</h3>
              <p class="card-description">
                Expire {{getDate(coupon.coupon_id.expiration_date)}}
              </p>
              <p class="card-description">
                Code: {{coupon.id}}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
